<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}">
</head>
<title>Transfer | Musashi Coin</title>
<body style="background-color:#FCF3CF;">
	<div th:replace="~{base :: logo}"></div>

	<div class="container">
		<div th:replace="~{base :: title('Transactions')}"></div>
	
		<nav class="navbar navbar-expand navbar-light bg-dark d-flex justify-content-between mb-5">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
		    	<li class="nav-item active">
			        <a class="nav-link" style="color: #F7DC6F;" href="/./home">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" style="color: #F7DC6F;" href="/./info">Information</a>
			      </li>
			      <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" style="color: #F7DC6F;" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Transactions
					</a>
			        <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="/transaction/buy">Buy</a>
			          <a class="dropdown-item" href="/transaction/transfer">Transfer</a>
			        </div>
		      	</li>
		      </ul>
			</div>
		</nav>
	
		<div class="card-deck">
			<div class="card">
				<div class="card-header alert-primary">
			    	TRANSFER
				</div>
		    	<div class="card-body" style="background-color: #FBFCFC;">
			     	<h5 class="card-title">Transfer</h5>
			     		<form th:object="${newTransactionRequest}" action="/transaction/new" method="POST">
			     			<div class="form-group">
			     				<label for="customerName">Name</label>
			     				<input th:field="*{customerName}" th:errorclass="is-invalid" class="form-control" placeholder="Reciepient's name"/>
			     				<div class="invalid-feedback" th:errors="*{customerName}">Name error</div>
			     			</div>
			     			<div class="form-group">
			     				<label for="publicKey1">Public Key</label>
			     				<input th:field="*{publicKey}" th:errorclass="is-invalid" class="form-control" placeholder="Target's public key"/>
			     				<div class="invalid-feedback" th:errors="*{publicKey}">Public key error</div>
			     			</div>
			     			<div class="form-group">
			     				<label for="transferValue">Value</label>
			     				<input th:field="*{transferValue}" th:errorclass="is-invalid" class="form-control" placeholder="Amount to transfer"/>
			     				<div class="invalid-feedback" th:errors="*{transferValue}">Value error</div>
			     			</div>
			     			<button class="btn btn-warning" type="submit">Confirm transaction</button>
			     		</form>
			      	<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			      	<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

		    	</div>
		  	</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>