<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<title>Home | Musashi Coin</title>
<body style="background-color:#FCF3CF;">
	<div th:replace="~{base :: logo}"></div>	
	
	<div class="container">
		<div th:replace="~{base :: title('Home')}"></div>
	
		<nav class="navbar navbar-expand navbar-light bg-dark d-flex justify-content-between mb-5">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
		    	<li class="nav-item">
			        <a class="nav-link" style="color: #F7DC6F;" href="home">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" style="color: #F7DC6F;" href="info">Information</a>
			      </li>
			      <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" style="color: #F7DC6F;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Transactions
					</a>
			        <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="transaction/buy">Buy</a>
			          <a class="dropdown-item" href="transaction/transfer">Transfer</a>
			        </div>
		      	</li>
		      </ul>
			</div>
		</nav>
	
		<div class="card-deck mb-5">
			<div class="card">
				<div class="card-header" style="background-color: #F8C471;">
			    	BUY
				</div>
		    	<div class="card-body" style="background-color: #FBFCFC;">
			      	<h5 class="card-title">Buy</h5>
			      	<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			      	<a href="transaction/buy">Click here to buy Musashi Coins</a>
			      	<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    	</div>
			</div>
			<div class="card">
				<div class="card-header" style="background-color: #F1948A;">
			    	TRANSFER
				</div>
		    	<div class="card-body" style="background-color: #FBFCFC;">
			     	<h5 class="card-title">Transfer</h5>
			      	<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			      	<a href="transaction/transfer">Click here to transfer Musashi Coins</a>
			      	<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

		    	</div>
		  	</div>
		</div>
		
		<h2>History of transactions</h2>
		
		<div class="container">
			<div class="card" th:each="newTransaction : ${newTransactions}">
				<div class="col-md-5">Purchase: <span th:text="${newTransaction.value}">100.00</span></div>
				<div class="col-md-5">Transfer: <span th:text="${newTransaction.value}">100.00</span></div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>